afpars/.gradle
afpars/.idea
afpars/build
afpars/target
afpars/Afpars.iml
afpars/out
afpars/afpars.iml___jb_tmp___
*.aux
*.log
*.toc
*.gz
afpars.iml
.idea/
Projectagreement.pdf
afpars/training
docs/thesis/.texpadtmp
.dat.nosync02ab.sNUGsV
.dat.nosync*
BachelorThesis.pdf
